extends layout

block content
  div.heading
    h1.title PERSONAL POKÈDEX
  div.row.buttons.space-above
    button.add(onclick="window.location.href='/add';") ADD A CARD
    form(action='/' method='get')
      div.together
        div.column
          div.form-input.homepage
            label.white(for='type') Type
            select.cursor(id='type' name='type' autocomplete='off')
              each type in types
                option(value = type selected = (type === searchType)) #{type}
          div.form-input.homepage
            label.white(for='random') Random?
            input.cursor(type='checkbox' name='random' id='random' checked=searchRandom)
        button.button.save.special(type='submit') FILTER
  include mixins/pokemonCard
  div.card-area
    each card in cards
      +pokemonCard(card)