extends layout

block content
  div.card-area
    div.card.electric
      div.row
        div.bold
          p Pikachu
        div.health.bold
          p 50 HP
        div.icon
          img(src='/images/electric.png')
      div.row
        div.image
          img(src='https://vignette.wikia.nocookie.net/wii/images/7/77/Pikachu_SSB4.jpg/revision/latest?cb=20140210000421')
      div.row.bottom-line
        div.icon
          img(src='/images/electric.png')
        div.bold
          p Gnaw
        div.bold
          p 10
      div.row.bottom-line
        div.icon
          img(src='/images/electric.png')
          img(src='/images/electric.png')
        div.bold
          p Lightning Bolt
        div.bold
          p 50
      div.row
        div.italic.bottom.icon
          p weaknesses
          img(src='/images/ground.png')
        div.italic.bottom.icon
          p resistances
          img(src='/images/flying.png')
          img(src='/images/steel.png')
          img(src='/images/electric.png')
        div.italic.bottom.icon
          p retreat cost
          img(src='/images/electric.png')
          img(src='/images/electric.png')