extends layout

block content
  div.heading
    h1.title PERSONAL POKEDEX
  div.row.buttons
    button.add ADD
    button.remove REMOVE
  include mixins/pokemonCard
  div.card-area
    each card in cards
      +pokemonCard(card)