extends layout

block content
  div.container
    div.card.electric
      div.row
        div.name.bold
          p Pikachu
        div.health.bold
          p 50 HP
        div.icon
          img(src='../public/images/Electric.png')
      //    TODO find out why the relative path isn't working
      div.row
        div.image
          img(src='https://vignette.wikia.nocookie.net/wii/images/7/77/Pikachu_SSB4.jpg/revision/latest?cb=20140210000421')
      div.row.bottom-line
        div.icon-container.icon
          img(src='https://cdn2.bulbagarden.net/upload/4/4a/GO_Electric.png')
        div.move-name.bold
          p Gnaw
        div.move-cost.bold
          p 10
      div.row.bottom-line
        div.icon-container.icon
          img(src='https://cdn2.bulbagarden.net/upload/4/4a/GO_Electric.png')
          img(src='https://cdn2.bulbagarden.net/upload/4/4a/GO_Electric.png')
        div.move-name.bold
          p Lightning Bolt
        div.move-cost.bold
          p 50
      div.row
        div.weakness.italic.bottom.icon
          p weaknesses
          img(src='https://cdn2.bulbagarden.net/upload/thumb/2/27/Ground_icon_SwSh.png/64px-Ground_icon_SwSh.png')
        div.resistance.italic.bottom.icon
          p resistances
          img(src='https://cdn2.bulbagarden.net/upload/thumb/2/2f/FlyingIC_Masters.png/64px-FlyingIC_Masters.png')
          img(src='https://archives.bulbagarden.net/media/upload/thumb/d/d2/GO_Steel.png/40px-GO_Steel.png')
          img(src='https://archives.bulbagarden.net/media/upload/thumb/4/4a/GO_Electric.png/40px-GO_Electric.png')
        div.retreat-cost.italic.bottom.icon
          p retreat cost
          img(src='https://cdn2.bulbagarden.net/upload/4/4a/GO_Electric.png')
          img(src='https://cdn2.bulbagarden.net/upload/4/4a/GO_Electric.png')