extends layout

block content
  div.heading
    h1.title PERSONAL POKÈDEX
  div.row.buttons
      button.add(onclick="window.location.href='/add';") ADD A CARD
  include mixins/pokemonCard
  div.card-area
    each card in cards
      +pokemonCard(card)