extends layout

block content
  div.container
    div.card.electric
      div.row
        div.name.bold
          p Pikachu
        div.health.bold
          p 50 HP
        div.icon
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
      div.row
        div.image
          img(src='https://vignette.wikia.nocookie.net/wii/images/7/77/Pikachu_SSB4.jpg/revision/latest?cb=20140210000421')
      div.row.bottom-line
        div.icon-container
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
        div.move-name.bold
          p Gnaw
        div.move-cost.bold
          p 10
      div.row.bottom-line
        div.icon-container
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
        div.move-name.bold
          p Lightning Bolt
        div.move-cost.bold
          p 50
      div.row
        div.weakness.italic.bottom
          p weakness
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
        div.resistance.italic.bottom
          p resistance
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
        div.retreat-cost.italic.bottom
          p retreat cost
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')
          img(src='https://ih1.redbubble.net/image.10995156.8982/sticker,375x360.png')