extends layout

block content
  div.heading
    h1.title PERSONAL POKÈDEX
  div.row.buttons.space-above
    button.add(onclick="window.location.href='/add';") ADD A CARD
    form(action='/' method='get')
      div.together
        div.column
          div.form-input.homepage
            label.white(for='type') Type =
            select(id='type' name='type' autocomplete='off')
              each type in types
                option(value = type selected = (type === searchType)) #{type}
          div.form-input.homepage
            label.white(for='random') Random
            input(type='checkbox' name='random' id='random' checked=searchRandom)
          div.form-input.homepage
            label.white(for='checkHp') HP > 100
            input(type='checkbox' name='checkHp' id='checkHp' checked=searchHp)
        button.button.save.special(type='submit') FILTER
  include mixins/pokemonCard
  div.card-area
    each card in cards
      +pokemonCard(card)